@model JAUNDICE.CORE.Client

@{
    ViewData["Title"] = "Details";
}

<hr />
<div class="col-md-8 ml-auto mr-auto">
    <div class="card">
        <div class="card-header card-header-success card-header-icon">
            <div class="card-icon">
                <i class="material-icons">person</i>
            </div>
            <h4 class="card-title">Client Details</h4>
        </div>

        <div>
           
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.FirstName)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.FirstName)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.MiddleName)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.MiddleName)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.LastName)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.LastName)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Nrc)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Nrc)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Dob)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Dob)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Address)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Address)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.PhoneNumber)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.PhoneNumber)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Email)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Email)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Gender)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Gender)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.BloodGroup)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.BloodGroup)
                </dd>
            </dl>
        </div>
        </div>
    </div>
        <div>
            <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
            <a asp-action="Index">Back to List</a>
        </div>
